@page "/Login"
@model FSK.WebApp.Pages.LoginModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/LoginUserPage/assets/css/styles.css">

    <title>Feng Shui Koi USER</title>
</head>
<body>





    <image class="login__img" src="/LoginUserPage/assets/img/nen.jpg" />
    <div class="login container grid" id="loginAccessRegister">
        <div class="login__access">
            <h1 class="login__title">Đăng nhập tài khoản</h1>

            <div class="login__area">
                <form action="" class="login__form">
                    <div class="login__content grid">
                        <div class="login__box">
                            <input type="email" id="email" required placeholder=" " class="login__input">
                            <label for="email" class="login__label">Email</label>

                            <i class="ri-mail-fill login__icon"></i>
                        </div>

                        <div class="login__box">
                            <input type="password" id="password" required placeholder=" " class="login__input">
                            <label for="password" class="login__label">Mật khẩu</label>

                            <i class="ri-eye-off-fill login__icon login__password" id="loginPassword"></i>
                        </div>
                    </div>

                    <a href="#" class="login__forgot">Quên mật khẩu?</a>

                    <button type="submit" class="login__button">Đăng Nhập</button>
                </form>

                <div class="login__social">
                    <p class="login__social-title">Đăng nhập bằng</p>

                    <div class="login__social-links">
                        <a href="#" class="login__social-link">
                            <img src="/LoginUserPage/assets/img/icon-google.svg" alt="image" class="login__social-img">
                        </a>

                        <a href="#" class="login__social-link">
                            <img src="/LoginUserPage/assets/img/icon-facebook.svg" alt="image" class="login__social-img">
                        </a>

                        <a href="#" class="login__social-link">
                            <img src="/LoginUserPage/assets/img/icon-apple.svg" alt="image" class="login__social-img">
                        </a>
                    </div>
                </div>

                <p class="login__switch">
                    Chưa có tài khoản?
                    <button id="loginButtonRegister">Tạo tài khoản</button>
                </p>
            </div>
        </div>

        <div class="login__register">
            <h1 class="login__title">Tạo tài khoản mới.</h1>

            <div class="login__area">
                <form action="" class="login__form">
                    <div class="login__content grid">
                        <div class="login__group grid">
                            <div class="login__box">
                                <input type="text" id="names" required placeholder=" " class="login__input">
                                <label for="names" class="login__label">Tên</label>

                                <i class="ri-id-card-fill login__icon"></i>
                            </div>

                            <div class="login__box">
                                <input type="text" id="surnames" required placeholder=" " class="login__input">
                                <label for="surnames" class="login__label">Họ</label>

                                <i class="ri-id-card-fill login__icon"></i>
                            </div>
                        </div>

                        <div class="login__box">
                            <input type="email" id="emailCreate" required placeholder=" " class="login__input">
                            <label for="emailCreate" class="login__label">Email</label>

                            <i class="ri-mail-fill login__icon"></i>
                        </div>

                        <div class="login__box">
                            <input type="password" id="passwordCreate" required placeholder=" " class="login__input">
                            <label for="passwordCreate" class="login__label">Mật khẩu</label>

                            <i class="ri-eye-off-fill login__icon login__password" id="loginPasswordCreate"></i>
                        </div>
                    </div>

                    <button type="submit" class="login__button">Tạo tài khoản</button>
                </form>

                <p class="login__switch">
                    Đã có tài khoản?
                    <button id="loginButtonAccess">Đăng nhập</button>
                </p>
            </div>
        </div>
    </div>

    <script src="/LoginUserPage/assets/js/main.js"></script>
</body>
</html>