@page
@model FSK.WebApp.Pages.section_5Model
@{
}
<section class="contact-section section-padding section-bg" id="section_5">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-5">Địa chỉ</h2>
            </div>

            <div class="col-lg-5 col-12 mb-4 mb-lg-0">
                <img src="images/topics/15.jpg" class="custom-block-image img-fluid" alt="" width="100%" height="250" style="border:10;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-3 mb-lg- mb-md-0 ms-auto">
                <h4 class="mb-3">Quận 12</h4>

                <p>70 Tô Ký, Tân Chánh Hiệp, Quận 12, TP.HCM</p>

                <hr>

                <p class="d-flex align-items-center mb-1">
                    <span class="me-2">Phone</span>

                    <a href="tel:" class="site-footer-link">
                        097 295 361
                    </a>
                </p>

                <p class="d-flex align-items-center">
                    <span class="me-2">Email</span>

                    <a href="mailto:info@company.com" class="site-footer-link">
                        cakoiphongthuy@gmail.com
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mx-auto">
                <h4 class="mb-3">Bình Thạnh</h4>

                <p>159/2 Võ Oanh, Phường 27, Bình Thạnh,TP.HCM</p>

                <hr>

                <p class="d-flex align-items-center mb-1">
                    <span class="me-2">Phone</span>

                    <a href="tel: 110-220-3400" class="site-footer-link">
                        098 765 4321
                    </a>
                </p>

                <p class="d-flex align-items-center">
                    <span class="me-2">Email</span>

                    <a href="mailto:info@company.com" class="site-footer-link">
                        cakoiphongthuy2@gmail.com
                    </a>
                </p>
            </div>

        </div>
    </div>
</section>