@page
@model FSK.WebApp.Pages.section_2Model
@{
}
<body>
<section class="explore-section section-padding" id="section_2">
    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <h2 class="mb-4">Gợi ý theo bản mệnh</h1>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="design-tab" data-bs-toggle="tab" data-bs-target="#design-tab-pane" type="button" role="tab" aria-controls="design-tab-pane" aria-selected="true">Thủy</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="marketing-tab" data-bs-toggle="tab" data-bs-target="#marketing-tab-pane" type="button" role="tab" aria-controls="marketing-tab-pane" aria-selected="false">Hỏa</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="finance-tab" data-bs-toggle="tab" data-bs-target="#finance-tab-pane" type="button" role="tab" aria-controls="finance-tab-pane" aria-selected="false">Kim</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="music-tab" data-bs-toggle="tab" data-bs-target="#music-tab-pane" type="button" role="tab" aria-controls="music-tab-pane" aria-selected="false">Thổ</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="education-tab" data-bs-toggle="tab" data-bs-target="#education-tab-pane" type="button" role="tab" aria-controls="education-tab-pane" aria-selected="false">Mộc</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Cá Koi (Shiro Utsuri)</h5>

                                                <p class="mb-0">Màu trắng là màu của sự thanh thoát và trong sáng. Cá Koi trắng có thể giúp làm sạch và mang lại sự bình yên cho môi trường sống.</p>
                                            </div>

                                            <span class="badge bg-design rounded-pill ms-auto">14</span>
                                        </div>

                                        <img src="images/topics/2.jpg" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Cá Koi (Kuro Utsuri)</h5>

                                                <p class="mb-0">Màu đen cũng mang lại sự ổn định, phù hợp với Thủy vì nước có thể kết hợp với màu đen để mang lại sự hài hòa trong phong thủy.                                                                                                                                                                                                                                                                                            </p>
                                            </div>

                                            <span class="badge bg-design rounded-pill ms-auto">75</span>
                                        </div>

                                        <img src="images/topics/3.jpg" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Cá Koi (Kin Showa)</h5>

                                                <p class="mb-0">Màu vàng tượng trưng cho sự tươi mát và yên bình. Các loại cá Koi này cũng mang ý nghĩa của sự phát triển và may mắn.</p>
                                            </div>

                                            <span class="badge bg-design rounded-pill ms-auto">100</span>
                                        </div>

                                        <img src="images/topics/4.jpg" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">
                                                    <h5 class="mb-2">Cá Koi Kohaku</h5>
                                                </h5>

                                                <p class="mb-0"> Kohaku biểu tượng cho sự may mắn, tài lộc và sự thịnh vượng. Nó cũng tượng trưng cho lòng kiên trì và quyết tâm</p>
                                            </div>

                                            <span class="badge bg-advertising rounded-pill ms-auto">30</span>
                                        </div>

                                        <img src="images/topics/5.jpg" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Cá Koi Taisho Sanke</h5>

                                                <p class="mb-0">là biểu tượng của sự cân bằng giữa các yếu tố trong cuộc sống.Thể hiện sự bền bỉ và cứng cáp, mang lại sức khỏe và ổn định tài chính.</p>
                                            </div>

                                            <span class="badge bg-advertising rounded-pill ms-auto">65</span>
                                        </div>

                                        <img src="images/topics/6.jpg" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2"> Cá Koi Showa Sanshoku</h5>

                                                <p class="mb-0">Showa mang lại sự cân bằng, sức mạnh và sự quyền lực.Tượng trưng cho sức mạnh trong việc vượt qua khó khăn và thử thách.</p>
                                            </div>

                                            <span class="badge bg-advertising rounded-pill ms-auto">50</span>
                                        </div>

                                        <img src="images/topics/7.jpg" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="finance-tab-pane" role="tabpanel" aria-labelledby="finance-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2"> Cá Koi Shiro Utsuri</h5>

                                                <p class="mb-0">Shiro Utsuri là biểu tượng của sự thuần khiết, tĩnh lặng và thanh thản. Nó thể hiện sự kiên nhẫn và tự kiểm soát, mang lại sự bình an và cân bằng trong cuộc sống.</p>
                                            </div>

                                            <span class="badge bg-finance rounded-pill ms-auto">30</span>
                                        </div>

                                        <img src="images/topics/7.jpg" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2"> Cá Koi Utsurimono</h5>

                                                <p class="mb-0">Utsurimono mang lại năng lượng mạnh mẽ, sự bảo vệ và can đảm. Nó có thể giúp đẩy lùi khó khăn và thử thách, mang lại sự ổn định cho gia chủ.</p>
                                            </div>

                                            <span class="badge bg-finance rounded-pill ms-auto">30</span>
                                        </div>

                                        <img src="images/topics/8.webp" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="music-tab-pane" role="tabpanel" aria-labelledby="music-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Cá Koi Tancho</h5>

                                                <p class="mb-0">Tancho biểu tượng cho sự thuần khiết, thanh khiết và sự khởi đầu mới. Nó mang lại sự tươi mới và may mắn, đồng thời là biểu tượng của sự khôi phục và tái sinh.r</p>
                                            </div>

                                            <span class="badge bg-music rounded-pill ms-auto">45</span>
                                        </div>

                                        <img src="images/topics/9.jpg" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Cá Koi Kikokuryu</h5>

                                                <p class="mb-0">Kikokuryu tượng trưng cho sự biến đổi và đổi mới. Nó mang lại khả năng thích nghi tốt và sức mạnh để vượt qua thử thách trong cuộc sống.</p>
                                            </div>

                                            <span class="badge bg-music rounded-pill ms-auto">45</span>
                                        </div>

                                        <img src="images/topics/10.png" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Cá Koi Kin Showa</h5>

                                                <p class="mb-0">Kin Showa mang lại tài lộc, thịnh vượng và sự thành công trong công việc. Nó cũng biểu tượng cho sự mạnh mẽ và quyết đoán trong cuộc sống.</p>
                                            </div>

                                            <span class="badge bg-music rounded-pill ms-auto">20</span>
                                        </div>

                                        <img src="images/topics/11.jpg" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="education-tab-pane" role="tabpanel" aria-labelledby="education-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Cá Koi Hikari Moyo</h5>

                                                <p class="mb-0">Hikari Moyo tượng trưng cho sự giàu có và thịnh vượng. Nó mang lại ánh sáng và niềm vui cho gia chủ, cũng như mang lại sự may mắn và tài lộc.</p>
                                            </div>

                                            <span class="badge bg-education rounded-pill ms-auto">80</span>
                                        </div>

                                        <img src="images/topics/12.webp" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Cá Koi Chagoi</h5>

                                                <p class="mb-0">Chagoi là biểu tượng của sự thân thiện, hòa đồng và tài lộc. Chúng được biết đến với tính cách dễ gần và khả năng mang lại sự bình an cho gia đình.</p>
                                            </div>

                                            <span class="badge bg-education rounded-pill ms-auto">75</span>
                                        </div>

                                        <img src="images/topics/13.jpg" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</section>
</body>