@page
@model FengShuiKoi.WepApp_.Pages.Account.KhachHangAccount.EditModel

<h4>KhachHang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KhachHang.MaKhachHang" />
            <div class="form-group">
                <label asp-for="KhachHang.TenKhachHang" class="control-label"></label>
                <input asp-for="KhachHang.TenKhachHang" class="form-control" />
                <span asp-validation-for="KhachHang.TenKhachHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhachHang.NgayThangNamSinh" class="control-label"></label>
                <input asp-for="KhachHang.NgayThangNamSinh" class="form-control" />
                <span asp-validation-for="KhachHang.NgayThangNamSinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhachHang.Tuoi" class="control-label"></label>
                <input asp-for="KhachHang.Tuoi" class="form-control" />
                <span asp-validation-for="KhachHang.Tuoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhachHang.Email" class="control-label"></label>
                <input asp-for="KhachHang.Email" class="form-control" />
                <span asp-validation-for="KhachHang.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhachHang.MatKhau" class="control-label"></label>
                <input asp-for="KhachHang.MatKhau" class="form-control" />
                <span asp-validation-for="KhachHang.MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhachHang.SoDienThoai" class="control-label"></label>
                <input asp-for="KhachHang.SoDienThoai" class="form-control" />
                <span asp-validation-for="KhachHang.SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="KhachHang.GioiTinh" /> @Html.DisplayNameFor(model => model.KhachHang.GioiTinh)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="KhachHang.NgayTao" class="control-label"></label>
                <input asp-for="KhachHang.NgayTao" class="form-control" />
                <span asp-validation-for="KhachHang.NgayTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhachHang.NgayChinhSua" class="control-label"></label>
                <input asp-for="KhachHang.NgayChinhSua" class="form-control" />
                <span asp-validation-for="KhachHang.NgayChinhSua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
