@page
@model FSK.WebApp.Pages.Avertisement.CacGoiDangTin.CreateModel

<h4>GoiDangTin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GoiDangTin.MaGoi" class="control-label"></label>
                <input asp-for="GoiDangTin.MaGoi" class="form-control" />
                <span asp-validation-for="GoiDangTin.MaGoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoiDangTin.TenGoi" class="control-label"></label>
                <input asp-for="GoiDangTin.TenGoi" class="form-control" />
                <span asp-validation-for="GoiDangTin.TenGoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoiDangTin.GiaTien" class="control-label"></label>
                <input asp-for="GoiDangTin.GiaTien" class="form-control" />
                <span asp-validation-for="GoiDangTin.GiaTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
