<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ca Koi Phong Thuy</title>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">

    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/css/bootstrap-icons.css" rel="stylesheet">

    <link href="~/css/templatemo-topic-listing.css" rel="stylesheet">

</head>

<body id="top">
        <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/section_1">
                    <i class="fa-duotone fa-solid fa-bell-ring"></i>
                    
                    <span>Cá Koi Phong Thủy</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-5 me-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/section_1">Trang Chủ</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/section_2">Gợi ý</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/section_3">Tính Toán </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/section_4">FAQs</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/section_5">Địa chỉ</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sản phẩm </a>

                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="/Product/KoiFishProduct">Cá Koi</a></li>

                                <li><a class="dropdown-item" href="/Product/HoCaProduct">Hồ Cá</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tin Tức, Blog </a>

                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="~/tintuc/tintuc.html">Tin Tức</a></li>

                                <li><a class="dropdown-item" href="~/blog/blog.html">Blog</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            @if (User.Identity.IsAuthenticated)

                            {
                            <li>
                                <form method="post" asp-controller="Login" asp-action="Logout">
                                    <button type="submit" class="btn btn-danger">Log Out</button>
                                    <a>
                                        <i b-5b43861fn9="" class="fa fa-user" style="font-size: 20px;margin-left: 10px; cursor: pointer;"></i>
                                    </a>
                                </form>
                            </li>
                            }

                            else

                            {
                            <a class="btn btn-info" href="/Login">Sign In</a>
                            }

                        </li>
                    </ul>


                </div>
            </div>
        </nav>
    </header>

    @RenderBody()
    
    <footer class="site-footer section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-12 mb-4 pb-2">
                    <a class="navbar-brand mb-2" href="index.html">

                        <span>Cá Koi <br> Phong Thủy </br> </span>
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-6">
                    <h6 class="site-footer-title mb-3">Chức năng</h6>

                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Trang Chủ</a>
                        </li>



                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">FAQs</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#section_5" class="site-footer-link">Địa chỉ </a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                    <h6 class="site-footer-title mb-3">Liên Hệ </h6>

                    <p class="text-white d-flex mb-1">
                        <a href="tel: 305-240-9671" class="site-footer-link">
                            0987 654 321
                        </a>
                    </p>

                    <p class="text-white d-flex">
                        <a href="mailto:info@company.com" class="site-footer-link">
                            cakoiphongthuy@gmail.com
                        </a>
                    </p>
                </div>

                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">


                    <p class="copyright-text mt-lg-5 mt-4">

                        <br><br> <a rel="nofollow" href="https://templatemo.com" target="_blank"></a>
                    </p>

                </div>

            </div>
        </div>
    </footer>
    

    <!-- JAVASCRIPT FILES -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/click-scroll.js"></script>
    <script src="~/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
