@page
@model FSK.WebApp.Pages.Product.KoiFishProduct.CreateModel

<h4>KoiFish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KoiFish.MaCaKoi" class="control-label"></label>
                <input asp-for="KoiFish.MaCaKoi" class="form-control" />
                <span asp-validation-for="KoiFish.MaCaKoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFish.SoLuong" class="control-label"></label>
                <input asp-for="KoiFish.SoLuong" class="form-control" />
                <span asp-validation-for="KoiFish.SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFish.GiongCa" class="control-label"></label>
                <input asp-for="KoiFish.GiongCa" class="form-control" />
                <span asp-validation-for="KoiFish.GiongCa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFish.MoTa" class="control-label"></label>
                <input asp-for="KoiFish.MoTa" class="form-control" />
                <span asp-validation-for="KoiFish.MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFish.ThichHop" class="control-label"></label>
                <input asp-for="KoiFish.ThichHop" class="form-control" />
                <span asp-validation-for="KoiFish.ThichHop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
