@page
@model FengShuiKoi.WebApp.Pages.Account.AvertiseItem.EditModel

<h4>Avertise</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Avertise.MaKhachHang" class="control-label"></label>
                <select asp-for="Avertise.MaKhachHang" class="form-control" asp-items="ViewBag.MaKhachHang"></select>
                <span asp-validation-for="Avertise.MaKhachHang" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Avertise.MaQuangCao" />
            <div class="form-group">
                <label asp-for="Avertise.LoaiCa" class="control-label"></label>
                <input asp-for="Avertise.LoaiCa" class="form-control" />
                <span asp-validation-for="Avertise.LoaiCa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avertise.SanPhamTrangTri" class="control-label"></label>
                <input asp-for="Avertise.SanPhamTrangTri" class="form-control" />
                <span asp-validation-for="Avertise.SanPhamTrangTri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avertise.BanMenh" class="control-label"></label>
                <input asp-for="Avertise.BanMenh" class="form-control" />
                <span asp-validation-for="Avertise.BanMenh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avertise.GiaTien" class="control-label"></label>
                <input asp-for="Avertise.GiaTien" class="form-control" />
                <span asp-validation-for="Avertise.GiaTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avertise.NgayTao" class="control-label"></label>
                <input asp-for="Avertise.NgayTao" class="form-control" />
                <span asp-validation-for="Avertise.NgayTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avertise.NgayChinhSua" class="control-label"></label>
                <input asp-for="Avertise.NgayChinhSua" class="form-control" />
                <span asp-validation-for="Avertise.NgayChinhSua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
